<div id="user_input">
	<h2>Leave your wish for Gretchen</h2>
<nav class="clearfix">
<%= form_for(:user, :url => {:action => 'create'}) do |f| %>
  <%= f.text_field(:name, :class => "user_name", :value => "Name", :maxlength => 40) %>
  <%= f.text_field(:wish, :class => "user_wish", :value => "Wish", :maxlength => 140) %>
  <%= submit_tag("submit")%>
<% end %>
</nav>
</div>