<div id="container">
  <div id="header">
	<div class="sharing">
	  <div class="share"><a href="https://twitter.com/share" class="twitter-share-button" data-text='' data-count="none" data-url="http://club40girl.com">Tweet</a>
	    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
	  </div>
 	  <div class="share"><a name="fb_share" type="button" share_url="http://club40girl.com"></a>
	    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
	  </div>
	</div>
  </div>
  <div class-"entry_form">
  	<%= render :partial => "users/form" %>
  </div>
  <div id="comments">
	<%= render :partial => "users/list" %>
  </div>
</div>