<div id="container">
  <div id="header">
	<div class="share">	<a href="https://twitter.com/share" class="twitter-share-button" data-text='Norovirus took me down! Join the "I just barfed for 24 hrs" victims list.' data-count="none" data-url="http://NorovirusOneYouZero.com">Tweet</a>
	<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
	</div>
 	<div class="share"><a name="fb_share" type="button" share_url="http://norovirusoneyouzero.com"></a>
	<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
	</div></div>
  <div class-"entry_form">
  	<%= render :partial => "users/form" %>
  </div>
  <div id="comments">
	<%= render :partial => "users/list" %>
  </div>
</div>